services:
  ssh-server:
    build:
      context: ..
    environment:
      WELCOME: "Login success!"
      PROMETHEUS: "true"
      API_KEY: api_key
    ports:
      - 2222:2222
      - 3000:3000
      - 2345:2345
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../badger:/var/lib/ssh-separator/badger
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_PTRACE
    develop:
      watch:
        - action: rebuild
          path: ..
